extends layout
block vars
	- var title = "amistad | Edit Profile"
block links
	link(rel='stylesheet' href='/stylesheets/home.css')
block content
	div(class = 'container')
		h3 Change Your Password
		p 8-20 charecters needed
		if message
			p #{message}
		div(class = 'resetPassword')
			form(id = 'resetPwd' action = '/editProfile' method = 'post')
				input(type = 'password' class = 'input' name = 'oldPwd' placeholder = 'Old Password' pattern=".{8,20}" required = 'required')
				br
				input(type = 'password' class = 'input' name = 'newPwd' placeholder = 'New Password' pattern=".{8,20}" required = 'required')
				br
				input(type = 'password' class = 'input' name = 'newPwdRpt' placeholder = 'New Password Again' pattern=".{8,20}" required = 'required')
				br
				input(type = 'submit' class = 'register-button' value = 'Change')
		<hr></hr>

		h3 Change Profile Info
		div(class = 'persona')
			form(id = 'resetPwd' action = '/changePersona' method = 'post')
				input(type = 'text' class = 'input' name = 'first_name' placeholder = ' First Name' value = '#{firstname}' required = 'required')
				input(type = 'text' class = 'input' name = 'last_name' placeholder = ' Last Name' value = '#{lastname}' required = 'required')
				br
				if nationality && state
					input(type = 'text' class = 'input' name = 'nationality' placeholder = ' Nationality' value = '#{nationality}' required = 'required')
					input(type = 'text' class = 'input' name = 'state' placeholder = ' State' value = '#{state}' required = 'required')
				else
					input(type = 'text' class = 'input' name = 'nationality' placeholder = ' Nationality' required = 'required')
					input(type = 'text' class = 'input' name = 'state' placeholder = ' State' required = 'required')
				br
				|Reletionship Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				select(class = 'input' name = 'rel')
					option(value = 'single') Single
					option(value = 'engaged') In A Reletionship
					option(value = 'married') Married
				input(type = 'submit' class = 'register-button' value = 'Change')
		<hr></hr>
